<div class="form-container task-container">
  <h1 class="text-center modal-title task-title">Create Task</h1>
  <form method="post" class="task-form">
    {% csrf_token %} {% comment %}
    <input type="hidden" name="_method" value="PUT" /> {% endcomment %}
    {{forms.taskForm.as_p }}
    <div class="modal-container">
      <button class="btn task-create-cancel modal-btn">Cancel</button>
      <button type="submit" class="btn btn-primary modal-btn save">Save</button>
      <button class="btn btn-primary modal-btn update hidden">Update</button>
    </div>
  </form>
</div>
