<header class="header">
  <h2 class="title">ToDo App</h2>
  <div class="nav-container">
    <a href="admin/users"> <button class="btn btn-primary">Users</button></a>
    <a href="admin/tasks"> <button class="btn btn-primary">Tasks</button></a>
    <a href="admin/categories">
      <button class="btn btn-primary">Categories</button></a
    >
  </div>
  <div class="header-container">
    <button class="btn btn-primary changeName">Change profile name</button>
    <button class="btn btn-primary">Logout</button>
  </div>
</header>
